@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-feature-settings: "salt", "zero", "calt", "ccmp", "kern";
  background-color: black;
}

@layer utilities {
  /* Scrollbars */
  .tinker-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .tinker-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    height: 100vh;
  }

  .tinker-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  .tinker-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
  }

  /* Description gradient */
  .gradient-bottom::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px; /* Adjust this value to control the height of the gradient */
    background: linear-gradient(to top, #171717 0%, transparent 100%);
  }
}
 
